<!-- base_templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PropertEase {% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/container-style.css' %}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
        }
		@media (max-width: 767px) {
			.logo-img {
				display: none;
			}

			.logo-text {
				display: inline;
			}
		}
    </style>
</head>
<body>
    <!-- Header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="{% url 'propertease:home' %}">
						<img src="{% static 'images/logo.png' %}" style="width: 80px;" alt="" class="logo-img">
						<span class="logo-text">PropertEase</span>
					</a>
					<strong class="navbar-brand"> | </strong>
					<a class="navbar-brand" href="{% url 'propertease:property_form' %}">Post Ad</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'propertease:home' %}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'propertease:forum' %}">Forum</a>
							</li>
							{% if not user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'password_reset' %}">Reset password</a>
							</li>
							{% endif %}
							<!-- {% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="#">Change Password</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Delete account</a>
							</li>
							{% endif %} -->
						</ul>
                        {% if user.is_authenticated %}
                        <ul id='logged-in' class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"  href="#">{{ user.username }}</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                                <a class="dropdown-item" href="#">Delete Account</a>
                                <a class="dropdown-item" id='logout-btn' href="{% url 'accounts:logout' %}">Logout</a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
					</div>
				</div>
			</nav>
		</header>

    <main>
		{% block ofcontainer %}
		{% endblock %}
		<div class="container">
        {% block content %}
        <!-- Content of child templates will go here -->
        {% endblock %}
		</div>
    </main>

    <!-- Footer -->
		<footer class="bg-dark text-white py-4">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h5>About Us</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod vehicula justo ac
							ultricies.</p>
					</div>
					<div class="col-md-6">
						<h5>Contact Us</h5>
						<p>123 Main Street, City, Country</p>
						<p>Email: info@example.com</p>
						<p>Phone: +1 234 567 890</p>
					</div>
				</div>
			</div>
			<div class="text-center bg-dark py-2">
				<p>&copy; 2023 Your Company. All rights reserved.</p>
			</div>
		</footer>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script> var csrfToken = '{{ csrf_token }}';</script>
    <!-- <script src="{% static 'js/header.js' %}"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>